
/* Front page heading image backgrounds ------------------------------------*/ 
.wp-block-cover .has-background-dim:not([class*="-background-color"]),
.wp-block-cover-image .has-background-dim:not([class*="-background-color"]),
.wp-block-cover-image.has-background-dim:not([class*="-background-color"]),
.wp-block-cover.has-background-dim:not([class*="-background-color"]) {
    /* To be considered "transparent", "floralwhite", "cornsilk", "bisque"... */
    background-color: floralwhite !important;
}


/*
:link - a normal, unvisited link
:visited - a link the user has visited
:hover - a link when the user mouses over it
:active - a link the moment it is clicked
*/

/* SimpleTOC & Navigation block */
a:link,
a:visited,
a:hover,
a:active { color: blue; }
ul { list-style: none !important; }
.wp-block-navigation .wp-block-navigation-item__label { color: blue !important; }

/* Navigation block */
.wp-block-navigation__container {
    align-items: var(--navigation-layout-align,initial);
/*  display: flex; */
    display: block;
    flex-direction: column;
    flex-wrap: var(--navigation-layout-wrap,wrap);
    justify-content: var(--navigation-layout-justify,initial);
    list-style: none;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0;
}

/* Centered pair of images, one over another, e.g. to highlight "work in progress" */
.centered-images {
    position: relative;
    display: inline-block;
}
.centered-images img:nth-child(1) {
    width: 100%;
}
.centered-images img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}
